<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hg.dqsj.buy.goods.dao.GuestRoomDao">

    <!-- 根据查询条件查询所有详细信息 -->
    <select id="selectGuestRoom" parameterType="map" resultType="com.hg.dqsj.buy.goods.entity.GuestRoomInfo">
		select 
		    t.id,
		    t.storeId,
		    a.storeName,
		    a.storeNo,
		    a.isOpen,
		    t.guestRoomName,
		    t.sellPrice,
		    t.guestRoomBrief,
		    t.guestRoomTel,
		    t.guestRoomAddress,
		    t.guestRoomOrder,
		    t.remark
		from dqsj_fe_guest_room t
		left join dqsj_fe_store a on t.storeId=a.id
		where t.deleteFlag='0' and a.isOpen='1'
		order by
		    t.guestRoomOrder asc,
		    t.updateDate desc
        <if test="startRowNo != null and startRowNo != '' and rowSize != null and rowSize != ''">
            <![CDATA[LIMIT ${startRowNo}, ${rowSize}]]>
        </if>
    </select>
    
    <!-- 根据查询条件查询总条数 -->
    <select id="getCount" parameterType="map" resultType="java.lang.Integer">
        select 
            count(t.id) countTotal
        from dqsj_fe_guest_room t 
		left join dqsj_fe_store a on t.storeId=a.id
        where t.deleteFlag='0' and a.isOpen='1'
    </select>
    
    <!-- 根据ID查询详细信息 -->
    <select id="selectById" parameterType="map" resultType="com.hg.dqsj.buy.goods.entity.GuestRoomInfo">
        select 
		    t.id,
		    t.storeId,
		    a.storeName,
		    a.storeNo,
		    a.isOpen,
		    t.guestRoomName,
		    t.sellPrice,
		    t.guestRoomBrief,
		    t.guestRoomTel,
		    t.guestRoomAddress,
		    t.guestRoomContent,
		    t.guestRoomOrder,
		    t.remark
		from dqsj_fe_guest_room t
		left join dqsj_fe_store a on t.storeId=a.id
		where t.deleteFlag='0' and t.id=#{id}
    </select>
    
</mapper>