/* =======================header ==================*/
header{
    position: relative;
    height: $height;
    z-index: 9;
    line-height: $link-height;
    background-color: $link-primary;
    color: $link-white;
    h3{
      text-align: center;
      font-size: $font-size + 2;
    }
    .return{
        position: absolute;
        top: $font-size * 0;
        left: .5rem;
        color: $link-white;
        display: inline-block;
        font-size: $font-size + 2;
        .icon-return{
            width: $font-size + 4;
            float: left;
            margin-top: $font-size - 2;
        }
    }
}

     
