/* =======================order-wait-receive==================*/
.receive-situation{
    border: 1px solid $link-gray-bor;
    border-radius: 8px;
    margin: 15px .6rem;
    .receive_time{
        background: $link-white;
        padding: 10px 20px;
        height: $height;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        li{
            overflow: hidden;
            line-height: 24px;
            .icon-time{
            width: 16px;
            height: 16px;
            float: left;
            position: relative;
            top: 3px;
            }
            &:first-of-type span{
                padding-left: 10px;
                color: $link-wag-color;
            }
            &:last-of-type span{
                padding-left: 26px;
                color: #6d6d6d;
            }
        }
    }
    .last_stage{
        background: $link-bgc;
        height: $height;
        padding: 10px 20px;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        li{
            overflow: hidden;
            line-height: 24px;
            span{
                width: 33.3%;
                display: block;
                float: left;
                color:#505050; 
                &:first-of-type{
                    text-align: left;
                    .icon-complete{
                        width: 10px;
                        height: 10px;
                        margin-left: 10px;
                    }
                }
                &:last-of-type{
                    text-align: right;
                    color: $link-primary;
                    .icon-complete{
                        width: 10px;
                        height: 10px;
                        margin-right: 10px;
                    }
                }
                &:nth-of-type(2){
                    text-align: center;
                }
                .icon-complete{
                    width: 10px;
                    height: 10px;
                }
            }
            &:last-of-type{
                span{
                    width: 33.3%;
                    display: block;
                    float: left;
                    color:#505050; 
                    position: relative;
                    &:first-of-type{
                        text-align: left;
                        color: $link-primary;
                        &:before{
                            content: "";
                            width: 110%;
                            height: 1px;
                            position: absolute;
                            background: $link-primary;
                            top:12px;
                            right: -1.6rem;
                        }
                    }
                    &:last-of-type{
                        text-align: right;
                        &:before{
                            content: "";
                            width: 110%;
                            height: 1px;
                            position: absolute;
                            background: $link-primary;
                            top:12px;
                            right: 1.3rem;
                        }   
                    }
                    &:nth-of-type(2){
                        text-align: center;
                    }
                }
            }
        }
    }
}
.yiwc{
    float: left;
    margin-top: 3px;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 1;
    background: url("../img/ss.png") no-repeat;
    background-position:  0 0;
}
