/* =======================shou-hours==================*/
.shou-hours{
    padding: .5rem;
    background-color: $link-bgc;
    figure{
        margin-bottom: .5rem;
    }
    p{
        line-height: $font-size + 11;
    }
}