/* =======================sp-active==================*/
.tabactive{
    height: $height;
    background-color: $link-white;
    border-bottom: 1px solid $link-gray-bor;
    ul{
        li{ 
            position: relative;
            float: left;
            width: 50%;
            height: $height;
            line-height: $height;
            display: block;
            text-align: center;
            &:first-child:after{
                position: absolute;
                top: 15px;
                right: 0;
                width: 1px;
                height: 16px;
                content: "";
                background-color:$link-gray-bor;
            }
            a{
                color: $link-foot-color;
                display: inline-block;

                &:hover,&.active{
                  height: $height - 2;
                  border-bottom: 2px solid $link-primary;
                  color: $link-primary;
                }
            }
        }
    }
}

.special{
	.item{
		padding: .75rem .75rem;
		background-color: $link-white;
		border-top: 1px solid $link-gray-bor;
		border-bottom: 1px solid $link-gray-bor;
		&:last-child{
		    border-bottom: none;
		}
		h3{
			color: $link-black;
			padding-bottom: .7rem;
			font-size: 16px;
		}
		figcaption{
			padding-top: .5rem;
			line-height: 22px;
			color: $link-gray-e9;
			font-family: "Microsoft YaHei";
		}
	}
	
}