

.pullDown, .pullUp {
    height:40px;
    line-height:40px;
    font-size:14px;
    color:#888;
    margin-top:0;
    white-space: nowrap;
    text-align: center;
}

 .pullDown.scrolledUp{
    margin-top:-40px;   /* Should match the totalt height (i.e. height + paddings + borders) of #pullDown set above */
}
.pullDown .pullDownLabel, .pullUp .pullUpLabel  {
    margin: 0 5px;
}
.pullDown .pullDownIcon, .pullUp .pullUpIcon  {
    display: inline-block;
    width:40px;
    height:40px;
    background:url(../img/pull_to_refresh.png) 0 0 no-repeat;
    -webkit-background-size:40px 80px;
    background-size:40px 80px;
    -webkit-transition-property:-webkit-transform;
    -webkit-transition-duration:250ms;
    vertical-align: middle;
    margin: 0 5px;
}
 .pullDown .pullDownIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
.pullUp .pullUpIcon  {
    -webkit-transform:rotate(-180deg) translateZ(0);
}
 .pullDown.flip .pullDownIcon {
    -webkit-transform:rotate(-180deg) translateZ(0);
}
.pullUp.flip .pullUpIcon {
    -webkit-transform:rotate(0deg) translateZ(0);
}
.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
    background-position:0 100%;
    -webkit-transform:rotate(0deg) translateZ(0);
    -webkit-transition-duration:0ms;

    -webkit-animation-name:loading;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
}
@-webkit-keyframes loading {
    from { -webkit-transform:rotate(0deg) translateZ(0); }
    to { -webkit-transform:rotate(360deg) translateZ(0); }
}
.pullUp.loaded .pullUpIcon,.pullDown.loaded .pullDownIcon {
    display: none;
}